# node_modules
node_modules
dist
dist-ssr
*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor folders and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# server
server/__pycache__
server/.env
server/chat_analytics.db
